<html>
<head>
  <title>Styleguide</title>
  <link rel="stylesheet" href="/assets/application.css" ref="stylesheet" type="text/css">
</head>
<body>
  <%= yield %>
  <script src="/assets/application.js"></script>
</body>
</html>